.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px; /* Navbar estrecho por defecto */
  height: 100vh; /* Altura completa */
  background-color: #333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease; /* Para una transición suave */
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    width: 50px; /* Aún más estrecho en móviles */
  }

  .nav-link {
    padding: 0.5rem 0; /* Ajustar el padding en móviles */
  }

  .nav-text {
    display: none; /* Ocultar el texto en móviles */
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  justify-content: center;
  width: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
  transition: width 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
}

.icon-container {
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.nav-link:hover .icon-container {
  background-color: rgba(255, 215, 0, 0.2);
}

.nav-text {
  font-size: 0.75rem;
  margin-top: 0.1rem;
  color: #F9B17A;
}

mat-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #F9B17A;
}
