<nav class="navbar">
  <ul class="nav-list">
    <!-- Inicio -->
    <li class="nav-item">
      <a href="#home" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>home</mat-icon>
        </div>
        <span class="nav-text">Home</span>
      </a>
    </li>

    <!-- Sobre mí -->
    <li class="nav-item">
      <a href="#about" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>person</mat-icon>
        </div>
        <span class="nav-text">About</span>
      </a>
    </li>

    <!-- Tech Skills -->
    <li class="nav-item">
      <a href="#skills" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>code</mat-icon>
        </div>
        <span class="nav-text">Skills</span>
      </a>
    </li>

    <!-- Proyectos -->
    <li class="nav-item">
      <a href="#projects" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>work</mat-icon>
        </div>
        <span class="nav-text">Proyecto</span>
      </a>
    </li>

    <!-- Contacto -->
    <li class="nav-item">
      <a href="#contact" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>mail</mat-icon>
        </div>
        <span class="nav-text">Contacto</span>
      </a>
    </li>
  </ul>
</nav>
