.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px; /* Lo más estrecho posible */
  height: 80vh; /* Altura completa de la pantalla */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Siempre visible encima del contenido */
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  justify-content: center;
  width: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
}

.icon-container {
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.nav-link:hover .icon-container {
  background-color: rgba(255, 215, 0, 0.2);
}

.nav-link:hover {
  width: 180px; /* Expande la barra al hacer hover */
}

.nav-text {
  font-size: 0.75rem;
  margin-top: 0.1rem;
  color: #F9B17A;
  opacity: 1; /* El texto será invisible inicialmente */

}

.nav-link:hover .nav-text {
  opacity: 1; /* Muestra el texto cuando se hace hover */
}

mat-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #F9B17A;
}

