<nav class="navbar">
  <ul class="nav-list">
    <!-- Inicio -->
    <li class="nav-item">
      <a [routerLink]="['/']" fragment="home" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>home</mat-icon>
        </div>
        <span class="nav-text">Inicio</span>
      </a>
    </li>

    <!-- Sobre mí -->
    <li class="nav-item">
      <a [routerLink]="['/']" fragment="about" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>person</mat-icon>
        </div>
        <span class="nav-text">Sobre mí</span>
      </a>
    </li>

    <!-- Tech Skills -->
    <li class="nav-item">
      <a [routerLink]="['/']" fragment="skills" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>code</mat-icon>
        </div>
        <span class="nav-text">Skills</span>
      </a>
    </li>

    <!-- Proyectos -->
    <li class="nav-item">
      <a [routerLink]="['/']" fragment="projects" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>work</mat-icon>
        </div>
        <span class="nav-text">Proyectos</span>
      </a>
    </li>

    <!-- Contacto -->
    <li class="nav-item">
      <a [routerLink]="['/']" fragment="contact" class="nav-link" routerLinkActive="active">
        <div class="icon-container">
          <mat-icon>mail</mat-icon>
        </div>
        <span class="nav-text">Contacto</span>
      </a>
    </li>
  </ul>
</nav>